/* Created by: Zaida Hammel
* Created on: March
* This file contains the CSS for index2.html
*/

.dimensions {
  font-size: 1.7rem;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

.area {
  font-size: 1.7rem;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}